@import "_globals.scss";


$greaseBlack : hsl(200,8%,9%);
$black: hsl(0, 100%, 0%);
$darkgrey: hsla(200, 8%, 11%, 1);
$white:hsl(0, 0%, 97%);
$darkcyan: hsl(186.2,90.63,12.55);
$paleOrange: hsl(13, 100%, 61%);
$RED: hsl(2, 100%, 59%);
$darkpurple: hsl(252, 36%, 12%);
