@import "_globals.scss";
@import "_variables.scss";


*{
    margin:0;

}


//first section//
.first-section{
    height:800px;
    width:100%;
    background-image: url(styles/images/Mountain.jpg);
    object-fit:contain;
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 1;
}


.brightness-switch{
    margin-top:160px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index:1;
    margin-right: 10%;
    gap:40px;
    svg{
        position:relative;
        fill:$RED;
    }
}


.profile__picture{
    height:250px;
    width:250px;
    margin-left:42%;
    margin-top:10%;
    border-radius:50%;
    box-shadow: 0 0 10px $black;
}





/**    this is for phones **/




#first--wrapper{
margin-top:5%;

}


h1{
    margin-top:5%;
    margin-left:38%;
    font-family: 'Mitr', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color:$RED;
 text-shadow: 1px 1px 1px $black;
}




.Profile-description{
    margin-top:5%;
    margin-left:38%;
    font-family: 'Mitr', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color:$white;
 text-shadow: 1px 1px 1px $black;
}


//second section//
.second-section{
    background-color: $greaseBlack;
    display:flex;
flex-direction:column;
justify-content:flex-start;
height:900px;
flex-wrap:wrap;


.container--image{

    img{
        margin-left:0px;
       margin-top:0px;
        width:80%;
        height:700px;
        border-radius:0;
        object-fit: cover;
        background-size:cover;
        border: 10px solid $darkgrey;
        box-shadow: 1px 0 10px $black;
    }
}

}




.introduction{
    position:relative;
    display:inline-block;
    width:50%;
   
    h2{
        font-family: 'Mitr', sans-serif;
        color:$RED;
        letter-spacing: .5px;
    }

.container{
    margin-top:20px;
    margin-bottom:20px;
    padding: 10px 10px;
    width: 220px;
    position:relative;
    h3{
        font-family: 'Mitr', sans-serif;
        color:$white;
        font-size: 40px;
        letter-spacing: .5px;
        text-shadow:1px $black;
        

       
    }
    &:before,&:after,&>:first-child:before,&>:first-child:after{
        content:'';
        position:absolute;
        width:20px; height: 20px;
        border: 3px solid $RED;
        border-radius:2px;


    }
    &:before{top:0; left:0; border-width:3px 0 0 3px}
    &:after{top:0; right:0; border-width:3px 3px 0 0}
    &>:first-child:before {bottom:0;right:0;border-width: 0 3px 3px 0}
    &>:first-child:after {bottom:0;left:0;border-width: 0 0 3px 3px}

}



    .introduction-description{
        font-family: 'Mitr', sans-serif;
        color:$white;
        letter-spacing: .5px;
        font-size:18px;
    }

}


.container-description--pesonal--info{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:flex-start;
    position:relative;
    height:250px;
    width:600px;
    margin-top:1%;
    margin-right:50%;
    border:6px solid $RED;
    border-radius: 10px;
    box-shadow: 1px .5px 10px $black;

&>ul>first-child,&>ul>second-child{
    margin-top:10px;
    margin-left:0;
    position:relative;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
}

&>ul>li{
    list-style-type: none;
    display:block;
    width: 250px;
    height:60px;
    margin-top:7px;
    font-size:14px;
    font-family: 'Mitr', sans-serif;
    color:$white;
    text-align:left;
   

    }
     
    
}


 .button--download{
    display:flex;
    justify-content: space-evenly;
    margin-top:20px;
        margin-bottom:20px;
        padding:20px 20px;
        width:50px; height: 50px;
        position:relative;
        background-color:$white;
        border-radius: 12px;
        align-content: center;
        //font-ethic
        
&:hover{
    background-image: none;
    transition:1.5s;
    background-color:$greaseBlack;
            height:40px; width:200px;
            border: 3px solid $white;
            border-radius:12px;
        
            svg{
                transform:rotate(90deg);
                fill:$white;
                border-radius:10px;
            }
            
           
    }

    
&:hover:after{
               
                
    content:"Download CV";
    font-family: 'Mitr', sans-serif;
    color:$white;
    opacity: 1;
    font-size:19px;
    text-align: center;

            
    
        }

    
    }
//third section//@at-root
.third-section{
    content:" ";
    background-color:$darkpurple;
    height: 900px; width: 100%;


.introduction-origin{
    .section-title{
        padding:40px 40px;
    h5{
        font-family: 'Mitr', sans-serif;
        color:$RED;
        font-size:24px;
    }

    .container{
    margin-top:20px;
    margin-bottom:20px;
    width: 350px;

    h6{
        display:inline;
        font-family: 'Mitr', sans-serif;
        color:$white;
        font-size: 40px;
        letter-spacing: .5px;
        text-shadow:1px $black;
    }

    hr{
        width:20%;
        height:3px;
        color: $RED;
        border-radius:5px;
        
        border:1px solid $RED;
        background-color: $RED;

    }

   
    }

    .introduction-discover--more{
        display:inline;
        font-family: 'Mitr', sans-serif;
        color:$white;
        font-size: 20px;
        letter-spacing: .5px;
    }
}
}


.contact-flexbox--container{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;

    div:nth-child(1),div:nth-child(2),div:nth-child(3){
        height:450px;
        width:30%;
        display:block;
        border:4px solid $RED;
        border-radius: 10px;
        box-shadow:0px 0px 10px $black;

        svg{
            padding:40px 40px;
        }
        

        .content-description{
            display:block;
            text-align:left;
        font-family: 'Mitr', sans-serif;
        color:$white;
        letter-spacing: .5px;
        padding: 20px 40px;
        font-size:18px;
        


        }
         
        .btn-grad {
            background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
            margin: 10px;
            margin-left:40px;
            text-align: center;
            width:200px;
            height:40px;
            padding-top:20px;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            font-family: 'Mitr', sans-serif;
            color:$white;
            letter-spacing: .5px;           
            box-shadow: 0px 0px 5px  $white;
            border-radius: 10px;
            display: block;
            border:none;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: $black;
            text-decoration: none;
            transform:translateY(-20px);
          }
         
    }

    

}




}



@media screen and (max-width: 667px){


//First section
.first-section{
    height:700px;
    width:100%;
    background-image: url(/styles/images/Mountain.jpg);
    object-fit:contain;
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 1;
}

.profile__picture{
    height:150px;
    width:150px;
    margin-left:35%;
    margin-top:10%;
    border-radius:50%;
    box-shadow: 0 0 10px $black;
}
h1{
    margin-top:5%;
    margin-left:30%;
    font-family: 'Mitr', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color:$RED;
 text-shadow: 1px 1px 1px $black;
}

.Profile-description{
    margin-top:5%;
    margin-left:16%;
    font-family: 'Mitr', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color:$white;
  display:inline;
 text-shadow: 1px 1px 1px $black;
}



//Second section
.second-section{
    background-color: $greaseBlack;
    display:flex;
flex-direction:row;
flex-direction:column;
justify-content:flex-start;
height:1200px;


.container--image{

    img{
        margin-left:0px;
       margin-top:0px;
        width:64%;
        height:350px;
        border-radius:0;
        object-fit: cover;
        background-size:cover;
        border: 10px solid $darkgrey;
        box-shadow: 1px 0 10px $black;
    }
}

}




.introduction{
    display:inline-block;
    width:50%;
    margin-left: 5%;
    

    h2{
        font-family: 'Mitr', sans-serif;
        color:$RED;
        letter-spacing: .5px;
    }

.container{
    margin-top:5px;
    margin-bottom:20px;
    padding: 20px 20px;
    width: 150px;
    position:relative;
    h3{
        font-family: 'Mitr', sans-serif;
        color:$white;
        font-size: 18px;
        text-align:center;
        letter-spacing: .5px;
        text-shadow:1px $black;
        

       
    }
    &:before,&:after,&>:first-child:before,&>:first-child:after{
        content:'';
        position:absolute;
        width:20px; height: 20px;
        border: 3px solid $RED;
        border-radius:2px;


    }
    &:before{top:0; left:0; border-width:3px 0 0 3px}
    &:after{top:0; right:0; border-width:3px 3px 0 0}
    &>:first-child:before {bottom:0;right:0;border-width: 0 3px 3px 0}
    &>:first-child:after {bottom:0;left:0;border-width: 0 0 3px 3px}

}



    .introduction-description{
        font-family: 'Mitr', sans-serif;
        color:$white;
        letter-spacing: .5px;
        font-size:16px;
        
        display:block;
        height:350px; width:350px;
    }

}

 
.container-description--pesonal--info{
    height:180px;
    border:6px solid $RED;
    border-radius: 10px;
    box-shadow: 1px .5px 10px $black;
    margin-top:-40px;
    display:flex;
    flex-direction: row;
    width:370px;;
    
    ul{
        margin-left:-10px;
        margin-top:6px;
        
    }



&>ul>first-child,&>ul>second-child{
    position:relative;
    height:400px;
   
}

&>ul>li{
    list-style-type: none;
    display:block;
    font-size:10px;
    font-family: 'Mitr', sans-serif;
    color:$white;
    text-align:left;
    width:150px;
    height:15px;
    margin-top:20px;
    word-spacing: 0px;
    padding:2px 2px;
    }

   
    
}
    

 .button--download{
    display:flex;
    justify-content: space-evenly;
        margin-top:40px;
        margin-left:10px;
        margin-bottom:20px;
        padding:20px 20px;
        width:25px; height: 25px;
        position:relative;
        background-color:$white;
        border-radius: 12px;
        align-content: center;
        
        
&:hover{
    background-image: none;
    transition:1.5s;
    background-color:$greaseBlack;
            height:25px; width:100px;
            border: 3px solid $white;
            border-radius:12px;
           
        
            svg{
                transform:rotate(90deg);
                fill:$white;
                border-radius:10px;
            }
            &:hover:after{
               
                
        content:"Download CV";
        font-family: 'Mitr', sans-serif;
        color:$white;
        opacity: 1;
        font-size:10px;
        text-align: center;
        margin-bottom:20px;
    
                
        
            }
    }
    
    }


//Third section
.third-section{
    content:" ";
    background-color:$darkpurple;
    height: 2400px; width: 100%;


.introduction-origin{
    .section-title{
        padding:40px 40px;
    h5{
        font-family: 'Mitr', sans-serif;
        color:$RED;
        font-size:24px;
    }

    .container{
    margin-top:20px;
    margin-bottom:20px;
    width: 350px;

    h6{
        display:inline;
        font-family: 'Mitr', sans-serif;
        color:$white;
        font-size: 40px;
        letter-spacing: .5px;
        text-shadow:1px $black;
    }

    hr{
        width:20%;
        height:3px;
        color: $RED;
        border-radius:5px;
        
        border:1px solid $RED;
        background-color: $RED;

    }

   
    }

    .introduction-discover--more{
        display:inline;
        font-family: 'Mitr', sans-serif;
        color:$white;
        font-size: 20px;
        letter-spacing: .5px;
    }
}
}


.contact-flexbox--container{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    gap:20px;
   

    div:nth-child(1),div:nth-child(2),div:nth-child(3){
        height:400px;
        width:90%;
        display:block;
        border:4px solid $RED;
        border-radius: 10px;
        box-shadow:0px 0px 10px $black;
        margin-left:15px;


        svg{
            margin-left:35%;
            padding:10px 10px;
        }
        

        .content-description{
            display:block;
            text-align:center;
        font-family: 'Mitr', sans-serif;
        color:$white;
        padding: 20px 20px;
        font-size:16px;


        }
         
        .btn-grad {
            background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
            margin-top: 40px;
            text-align: center;
            padding-bottom:20px;
            margin-left:28%;
            width:150px;
            height:20px;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            font-family: 'Mitr', sans-serif;
            color:$white;
            font-size:12px;
            letter-spacing: .5px;           
            box-shadow: 0px 0px 5px  $white;
            border-radius: 10px;
            display: block;
            border:none;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: $black;
            text-decoration: none;
            transform:translateY(-20px);
          }
         
    }

    

}




}

}
